html, body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  background-color: #FAFAF7;
}

.purpleNav {
 	background: #660066 !important;
 	border-color: transparent;
  	transition: background-color 500ms ease-in;
}

.transparentNav {
	background: transparent;
	border-color: transparent;
}

.transparentNav a {
	color: white !important;
}

.purpleNav a {
	color: white !important;
}

.transparentNav .navbar-header a {
	color: black !important;
}

.otherBar {
	background: #660066 !important;
 	border-color: transparent;
}

.otherBar a {
	color: white !important;
}

#first {
	background-image: url("./bg_jum.jpg");
	background-size: cover;
	height: 400px;
	color: black;
}

#mainHeader {
	font-family: 'Indie Flower', cursive;
}

#createMap {
	height: 500px;
	width: 1000px;
	margin-left: 100px;
}

